<ion-tabs>
  <!-- Mini Player Component - Sits above the tabs -->
  <app-mini-player></app-mini-player>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search" (click)="handleSearchTabClick($event)">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="uploads" href="/tabs/uploads">
      <ion-icon aria-hidden="true" name="musical-notes"></ion-icon>
      <ion-label>Local</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library" href="/tabs/library">
      <ion-icon aria-hidden="true" name="library-outline"></ion-icon>
      <ion-label>Library</ion-label>
    </ion-tab-button>
    
    </ion-tab-bar>
</ion-tabs>
