<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="local" href="/tabs/local">
      <ion-icon aria-hidden="true" name="musical-notes"></ion-icon>
      <ion-label>Local</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stream" href="/tabs/stream">
      <ion-icon aria-hidden="true" name="cloud"></ion-icon>
      <ion-label>Stream</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="playlists" href="/tabs/playlists">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Playlists</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>