<div class="mini-player" *ngIf="playbackState && playbackState.currentTrack && !isPlayerPage" (click)="openPlayerPage()">
  <div class="mini-player-container">
    <div class="track-info">
      <img [src]="playbackState.currentTrack.artwork || 'assets/placeholder-album.png'" alt="Album Art" class="album-art">
      <div class="details">
        <div class="title">{{ playbackState.currentTrack.title }}</div>
        <div class="artist">{{ playbackState.currentTrack.artist }}</div>
      </div>
    </div><div class="controls">
      <ion-button fill="clear" (click)="togglePlay(); $event.stopPropagation()">
        <ion-icon [name]="playbackState.isPlaying ? 'pause' : 'play'" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </div>
    <ion-range 
    [value]="playbackState.currentTime" 
    [max]="30"
    (ionChange)="onSeekChange($event)"
    (click)="$event.stopPropagation()"
    class="seek-bar">
  </ion-range>
</div>